<a href="https://colab.research.google.com/github/LMarvicsin/QL_CaseStudy_2021/blob/main/QL_DSA_CaseStudy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DSA Case Study: Bank Marketing Data Set

February 26,2021

Lindsey Marvicsin

In [26]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [17]:
import pandas as pd
import os

In [29]:
!ls "/content/drive/My Drive/data"

'DSA Data Set.csv'

In [32]:
path = "/content/drive/My Drive/data/DSA Data Set.csv"
base_df = pd.read_csv(path)
print(base_df)

       age          job  marital  ... nr.employed ModelPrediction    y
0       56    housemaid  married  ...      5191.0        0.932750   no
1       57     services  married  ...      5191.0        0.953579   no
2       37     services  married  ...      5191.0        0.945724   no
3       40       admin.  married  ...      5191.0        0.933875   no
4       56     services  married  ...      5191.0        0.940996   no
...    ...          ...      ...  ...         ...             ...  ...
41183   73      retired  married  ...      4963.6        0.567417  yes
41184   46  blue-collar  married  ...      4963.6        0.655416   no
41185   56      retired  married  ...      4963.6        0.574102   no
41186   44   technician  married  ...      4963.6        0.615098  yes
41187   74      retired  married  ...      4963.6        0.631597   no

[41188 rows x 22 columns]